/*
 Theme Name: Zenzero
 Author: Rizzo Andrea - CrestaProject.com
 Author URI: http://crestaproject.com
 Description: Zenzero is a modern and Minimal WordPress Theme with generous white space and large legible fonts, one main column e one sidebar column, unlimited colors and theme options by CrestaProject.com. Live demo http://crestaproject.com/demo/zenzero/
 Version: 1.2
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain: zenzero
 Domain Path: /languages
 Tags: one-column, left-sidebar, responsive-layout, custom-background, custom-menu, custom-colors, sticky-post, featured-images, theme-options, translation-ready
 */

/*--------------------------------------------------------------
 >>> TABLE OF CONTENTS:
 ----------------------------------------------------------------
 1.0 Reset
 2.0 Typography
 3.0 Elements
 4.0 Forms
 5.0 Navigation
	5.1 Links
	5.2 Menus
 6.0 Accessibility
 7.0 Alignments
 8.0 Clearings
 9.0 Widgets
 10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
 11.0 Infinite scroll
 12.0 Media
	12.1 Captions
	12.2 Galleries
 --------------------------------------------------------------*/

/*--------------------------------------------------------------
 1.0 Reset
 --------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    color: #000;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing:         border-box;
}

body {
    background: #f0f0f0;
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
}

table th, table td {
    border: 1px solid rgba(0,0,0,.08);
    text-align: center;
    padding: .5em;
}

table th {
    background: rgba(0,0,0,.08);
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}

/*--------------------------------------------------------------
 2.0 Typography
 --------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #919191;
    font-family:  Roboto, 'Helvetica Neue', 'Segoe UI', Verdana, Tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    text-rendering: optimizeLegibility;
    font-weight: 700;
}

h1 {font-size: 35px;}
h2 {font-size: 25px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 13px;}
h6 {font-size: 10px;}

p {
    margin-bottom: 1.5em;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    display: block;
    padding: 1.5em 1.5em 1.5em 3.5em;
    margin: 0 0 1.5em;
    position: relative;
    border-left: 5px solid;
    border-right: 2px solid;
    font-weight: 300;
}
blockquote::before {
    content: "\201C";
    font-size: 60px;
    line-height: 1;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: rgba(0,0,0,.08);
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
 3.0 Elements
 --------------------------------------------------------------*/
.spaceLeft {
    padding-left: 5px;
}
.spaceRight {
    padding-right: 5px;
}
.spaceLeftDouble {
    padding-left: 10px;
}
.spaceRightDouble {
    padding-right: 10px;
}
.spaceLeftRight {
    padding: 0 5px;
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

figure {
    margin: 0;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

th {
    font-weight: bold;
}

/*--------------------------------------------------------------
 4.0 Forms
 --------------------------------------------------------------*/
button,
input,
select,
textarea {
    font-size: 85%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #292929;
    color: #ffffff;
    padding: 8px;
    margin: 1px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
    -o-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: none;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1;
    outline: none;
    font-weight: 700;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: transparent;
    border: 1px solid #292929;
    color: #292929;
    -o-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    background: transparent;
    border: 1px solid #292929;
    color: #292929;
    -o-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0; /* Addresses excess padding in IE8/9 */
}

#secondary input[type="search"] {
    width: 100%;
    background: rgba(0,0,0,.08);
}

#secondary .widget select {
    width: 100%;
}

#search-full input[type="text"] {
    background: transparent;
    font-size: 125%;
    line-height: 1;
    border-bottom: 2px dotted;
    border-radius: 0px;
    padding: 1em 2em;
    width: 100%;
}
#search-full input[type="text"]:focus {
    border: 0;
    border-bottom: 2px dotted;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    outline: none;
    border: 0;
    border-radius: 3px;
    background: rgba(0,0,0,.03);
    -o-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    background: rgba(0,0,0,.05);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 10px 14px;
}

textarea {
    overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 14px;
    vertical-align: top; /* Improves readability and alignment in all browsers */
    width: 100%;
}

/*--------------------------------------------------------------
 5.0 Navigation
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 5.1 Links
 --------------------------------------------------------------*/
a {
    color: #0093d5;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #0093d5;
}

.site-header a, .site-footer a, #secondary a, .site-footer a:hover {
    color: #727272;
}

.site-branding a, .site-branding a:hover {
    color: #ffffff;
}

.menu-toggle, .menu-toggle:hover {
    color: #ffffff !important;
}

.entry-content p a {
    border-bottom: 1px dotted;
}

/*--------------------------------------------------------------
 5.2 Menus
 --------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    width: 100%;
    margin-top: 3em;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.main-navigation ul li .indicator {
    position: absolute;
    right: 0;
    top: 22px;
    font-family: 'FontAwesome';
    font-size: 12px;
    line-height: 1;
    color: #727272;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.main-navigation ul ul li .indicator {
    right: 8px;
}
.main-navigation ul li .indicator:before {
    content: "\f0d7";
}
.main-navigation ul ul li .indicator:before {
    content: "\f0da";
}

.main-navigation a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 1.5em 1em 3em;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.main-navigation ul:not(.sub-menu):not(.children) > li > a::before {
    position: absolute;
    top: 45%;
    left: 50%;
    color: transparent;
    content: '•';
    font-size: 85%;
    text-shadow: 0 0 transparent;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.main-navigation ul:not(.sub-menu):not(.children) > li > a:hover::before,
.main-navigation ul:not(.sub-menu):not(.children) > li > a:focus::before {
    color: #ffffff;
    text-shadow: 8px 0 #ffffff, -8px 0 #ffffff;
}

.main-navigation ul li:hover > a,
.main-navigation li.current-menu-item > a,
.main-navigation li.current-menu-parent > a,
.main-navigation li.current-page-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation ul > li:hover .indicator,
.main-navigation li.current-menu-parent .indicator,
.main-navigation li.current-menu-item .indicator {
    color: #ffffff;
}

.main-navigation ul ul {
    background: #292929;
    float: left;
    position: absolute;
    top: 5.5em;
    left: auto;
    z-index: 99999;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}

.main-navigation ul ul ul {
    left: 100%;
    top: 0;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}

.main-navigation ul ul a {
    width: 200px;
    padding: 1.5em;
    text-align: left;
}

.main-navigation ul ul li {
    text-transform: none;
}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}

.main-navigation ul ul li:hover > ul {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}

/* Small menu */
.menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block;
    }
    
    .main-navigation ul {
        display: none;
    }
    
    .menu-toggle, .main-navigation.toggled .nav-menu {
        display: block;
        width: 100%;
        border-radius: 2px;
        text-align: left;
        float: left;
        padding: 1.5em;
    }
    
    .main-navigation.toggled .nav-menu {
        padding: 0 1.5em 1.5em;
    }
    
    .main-navigation.toggled .nav-menu ul {
        display: block;
        left: auto;
        position: relative;
        top: 0;
        border-bottom: 0px;
        padding-left: 5%;
        width: 100%;
        opacity: 1;
        visibility: visible;
    }
    
    .main-navigation.toggled ul ul a {
        font-size: 100%;
        width: 100%;
    }
    
    .menu-toggle, .menu-toggle:hover {
        text-transform: uppercase;
    }
    
    .menu-toggle i {
        float:right;
    }
    
    .main-navigation li {
        width: 100%;
    }
    
    .main-navigation a {
        border-bottom: 1px solid rgba(0,0,0,.08);
        padding: 1.5em;
    }
    
    .main-navigation ul:not(.sub-menu) > li > a:hover::before,
    .main-navigation ul:not(.sub-menu) > li > a:focus::before {
        color: transparent !important;
        text-shadow: none !important;
    }
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.site-main .post-navigation, .page-header, .site-main .paging-navigation {
    background: rgba(0,0,0,.08);
    margin: 0 -5em;
    padding: 3em 5em;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
}

.post-navigation .nav-previous, .post-navigation .nav-next {
    width: 50%;
}

.post-navigation .meta-nav {
    display: inline-block;
    width: 90%;
}

.post-navigation .nav-previous .meta-nav {
    padding-left: 15px;
}

.post-navigation .nav-next .meta-nav {
    padding-right: 15px;
}

.post-navigation .meta-nav small {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.paging-navigation .nav-links a, .comment-navigation a {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: inline-block;
    background: #292929;
    color: #ffffff;
    font-size: 13px;
}
.paging-navigation .nav-links a:hover, .comment-navigation a:hover {
    border: 1px solid #292929;
    color: #292929;
    background: #ffffff;
}

/*--------------------------------------------------------------
 6.0 Accessibility
 --------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
 7.0 Alignments
 --------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}

/*--------------------------------------------------------------
 8.0 Clearings
 --------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.widget_archive li:before,
.widget_archive li:after,
.widget_categories li:before,
.widget_categories li:after {
    content: "";
    display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.widget_archive li:after,
.widget_categories li:after {
    clear: both;
}

/*--------------------------------------------------------------
 9.0 Widgets
 --------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    padding: 0 0 1.5em;
    border-bottom: 0.5em solid rgba(0,0,0,.08);
}

/* Make sure select elements fit in widgets */
.widget select {
    max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
    display: none;
}

.widget_archive li, .widget_categories li {
    text-align: right;
}
.widget_archive li a, .widget_categories li a {
    float: left;
}

/* Calendar Widget */
#wp-calendar {
    margin: 0px;
}
#wp-calendar > caption {
    margin-bottom: 10px;
    text-align: right;
}
#wp-calendar th {
    text-align: center;
    background: rgba(255,255,255,.05);
    padding: 5px 0;
}
#wp-calendar tfoot td {
    border: none;
    padding-top: 5px;
}
#wp-calendar tfoot td#next {
    text-align: right;
}
#wp-calendar tbody td {
    text-align: center;
    border: 1px solid rgba(255,255,255,.05);
    padding: 5px 0;
}
#wp-calendar tbody td a {
    border-bottom: 1px solid;
}
#wp-calendar tbody td#today {
    border: 1px solid #727272;
}

.tagcloud a {
    background: #727272;
    color: #292929 !important;
    padding: 8px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 700;
    -o-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
.tagcloud a:hover {
    border: 1px solid #727272;
    color: #727272 !important;
    background: transparent;
    -o-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
/*--------------------------------------------------------------
 10.0 Content
 --------------------------------------------------------------*/
.smallPart {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.2;
}
.widget-area.smallPart {
    line-height: 1.5;
}
#page {
    max-width: 930px;
    margin: 5em auto;
    background: #ffffff;
    position: relative;
    z-index: 1;
    left: 0;
    -o-transition: left .3s ease-in-out;
    -moz-transition: left .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
}
.site-branding {
    line-height: 1.2;
}
.site-title {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 700;
}
.site-description {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 75%;
}
.site-header, .site-footer {
    background: #292929;
    color: #727272;
}
.site-header, .site-content, .site-footer {
    padding: 3em 5em;
}
.site-header {
    padding: 3em 1em 0;
    text-align: center;
}
.site-content {
    padding: 5em;
}

.content-area{
    margin: 20px 0px;
}

.entry-header {
    margin-top: 3em;
}
.entry-title, .page-title {
    letter-spacing: -2px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
}
.page-header .page-title img  {
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 0.5em;
}
.page-title span {
    font-weight: 300;
    text-transform: none;
}
.taxonomy-description {
    text-align: center;
    font-weight: 300;
}
.entry-featuredImg {
    position: relative;
    margin-left: -5em;
    margin-right: -5em;
}
.entry-featuredImg img {
    width: 100%;
    display: block;
}
span.overlay-img {
    background:url(./images/goto.png) center center no-repeat black;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10;
    opacity: 0;
}
.betweenPost {
    height: 2px;
    width: 50%;
    margin: 0 auto;
    background: rgba(0,0,0,.08);
    margin-bottom: 3em;
}
.beforeContent {
    height: .5em;
    width: .5em;
    background: rgba(0,0,0,.08);
    border-radius: 50%;
    margin: 1.5em auto 0;
    box-shadow: 1em 0em rgba(0,0,0,.08), -1em 0em rgba(0,0,0,.08);
}

body.admin-bar #secondary {
    top: 32px;
}
#secondary {
    padding: 3em 1em;
    position: fixed;
    top: 0;
    width: 280px;
    background: #292929;
    color: #727272;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    left: -280px;
    opacity: 0;
    -o-transition: left .3s ease-in-out;
    -moz-transition: left .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
}
#secondary.loaded {
    left:-280px;
    opacity: 1;
}
body.menu-opened #secondary {
    left:0;
    z-index: 99;
}
body.menu-opened #page {
    z-index: 2;
    left: 280px;
}
body.menu-opened .showSide, body.menu-opened .showSearch, body.menu-opened #toTop {
    left: 280px;
}
.showSide, .showSearch {
    position: fixed;
    bottom: 3em;
    left: 0;
    background: #292929;
    color: #727272;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    font-size: 13px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -o-transition: left .3s ease-in-out, width .2s ease-in-out, padding-left .2s ease-in-out, color .3s ease-in-out;
    -moz-transition: left .3s ease-in-out, width .2s ease-in-out, padding-left .2s ease-in-out, color .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out, width .2s ease-in-out, padding-left .2s ease-in-out, color .3s ease-in-out;
    transition: left .3s ease-in-out, width .2s ease-in-out, padding-left .2s ease-in-out, color .3s ease-in-out;
}
.showSearch {
    bottom: 7em;
}
.sidebarButton:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0c9";
}
body.menu-opened .sidebarButton:before {
    content: "\f00d";
}
#toTop {
    display: none;
    position: fixed;
    left: 0;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    background: #292929;
    color: #727272;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    -o-transition: left .3s ease-in-out, width .2s ease-in-out, padding-left .2s ease-in-out, color .3s ease-in-out;
    -moz-transition: left .3s ease-in-out, width .2s ease-in-out, padding-left .2s ease-in-out, color .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out, width .2s ease-in-out, padding-left .2s ease-in-out, color .3s ease-in-out;
    transition: left .3s ease-in-out, width .2s ease-in-out, padding-left .2s ease-in-out, color .3s ease-in-out;
}
.showTop {
    bottom: 7em;
    font-size: 13px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.withS {
    bottom: 11em;
}
#toTop:hover, .showSide:hover, .showSearch:hover {
    text-decoration: none;
    width: 5rem;
    padding-left: 1rem;
    color: #ffffff;
}
.edit-link {
    display: block;
}
#search-full {
    background: rgba(255,255,255,0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
.search-container {
    position: relative;
    top: 47%;
    width: 100%;
    max-width: 930px;
    padding: 0 1.5em;
    margin: 0 auto;
}
#close-search {
    display: inline-block;
    cursor: pointer;
    float: right;
}
.site-info {
    float: left;
}
.site-info a:hover {
    border-bottom: 1px dotted;
}
.site-social {
    float: right;
}
.site-social i.fa-facebook, .site-social i.fa-twitter, .site-social i.fa-google-plus, .site-social i.fa-linkedin,
.site-social i.fa-instagram, .site-social i.fa-youtube, .site-social i.fa-pinterest, .site-social i.fa-tumblr, .site-social i.fa-rss {
    -o-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    position: relative;
}
.site-social i.fa-facebook:hover, .site-social i.fa-twitter:hover, .site-social i.fa-google-plus:hover, .site-social i.fa-linkedin:hover,
.site-social i.fa-instagram:hover, .site-social i.fa-youtube:hover, .site-social i.fa-pinterest:hover, .site-social i.fa-tumblr:hover, .site-social i.fa-rss:hover {
    -o-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
.site-social i.fa-facebook:hover {color: #3b5998;}
.site-social i.fa-twitter:hover {color: #00aced;}
.site-social i.fa-google-plus:hover {color: #dd4b39;}
.site-social i.fa-linkedin:hover {color: #007bb6;}
.site-social i.fa-instagram:hover {color: #517fa4;}
.site-social i.fa-youtube:hover {color: #bb0000;}
.site-social i.fa-pinterest:hover {color: #cb2027;}
.site-social i.fa-tumblr:hover {color: #32506d;}
.site-social i.fa-rss:hover {color: #ffffff;}
/*--------------------------------------------------------------
 10.1 Posts and pages
 --------------------------------------------------------------*/
.sticky {
    display: block;
}

.sticky:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0a1";
    position: absolute;
    left: 50%;
    margin-left: -17px;
    font-size: 200%;
    color: #292929;
}

.hentry {
    margin: 0 0 3em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-content {
    margin: 3em 0;
}

.page-links {
    clear: both;
    margin: 0 0 3em;
    text-align: right;
}

.page-links span {
    background: rgba(0,0,0,.08);
    padding: 3px 6px 3px 6px;
    font-weight: 700;
    border-radius: 3px;
}

.page-links span a {
    background: #292929;
    padding: 6px 10px;
    margin: 0 2px;
    color: #ffffff;
    border-radius: 3px;
}

.entry-meta {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.5em;
    color: #292929;
    font-weight: 700;
}

.entry-footer a {
    background: #292929;
    color: #ffffff;
    padding: 8px;
    margin: 1px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 700;
    -o-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.entry-footer a:hover {
    background: transparent;
    border: 1px solid #292929;
    color: #292929;
    -o-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
/*--------------------------------------------------------------
 10.2 Asides
 --------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}
aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
aside ul li {
    padding: 0.5em 0;
}
aside ul li ul.sub-menu, aside ul li ul.children {
    padding-left: 5%;
}
aside ul li ul.sub-menu li, aside ul li ul.children li {
    padding-top: 1em;
}
.widget-title {
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    color: #ffffff;
}

/*--------------------------------------------------------------
 10.3 Comments
 --------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area {
    margin: 3em 0;
}
.comments-title {
    margin-bottom: 3em;
    text-align: center;
    letter-spacing: -2px;
    text-transform: uppercase;
}
.comment-reply-title {
    letter-spacing: -1px;
    text-transform: uppercase;
}
#comments ol {
    list-style-type: none;
    margin: 0;
    margin-bottom: 1em;
}
#comments ol .comment-respond {
    padding: 0;
    margin: 3em 0;
}
#comments ol article{
    margin: 0 0 3em;
    position: relative;
}
#comments ol ol {
    padding-left: 5%;
    background: transparent;
}
#comments ol ol article {
    padding-left: 5%;
    border-left: 2px solid rgba(0,0,0,.08);
}
#comments article footer img {
    float: left;
    margin-right: 1em;
    border-radius: 50%;
}
#comments article .comment-content {
    clear: both;
    padding-top: 1em;
}
#comments .reply {
    background: rgba(0,0,0,.08);
    padding: 4px;
    margin: 1px;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 3px;
    position: absolute;
    line-height: 1;
    bottom: 0;
    right: 0;
}
#comments .comment-meta {
    font-weight: 300;
}
.comment-reply-title small {
    float: right;
}
.comment-awaiting-moderation {
    color: red;
    margin: 0;
}

/*--------------------------------------------------------------
 11.0 Infinite scroll
 --------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
 12.0 Media
 --------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
 12.1 Captions
 --------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
}

.wp-caption-text {
    text-align: center;
    font-size: 75%;
}

.wp-caption .wp-caption-text {
    padding: 0.8075em 0;
    background: rgba(0,0,0,.08);
    font-size: 75%;
}

/*--------------------------------------------------------------
 12.2 Galleries
 --------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

@media all and (max-width: 1100px) {
    #page {
        margin: 0 auto;
    }
}
@media all and (max-width: 767px) {
    #search-full input[type="text"] {
        font-size: 100%;
    }
    .site-header, .site-content, .site-footer {
        padding: 1.5em 2.5em;
    }
    .site-header {
        padding: 1.5em 2.5em 0;
    }
    .site-content {
        padding: 0em 2.5em;
    }
    .entry-featuredImg {
        margin-left: -2.5em;
        margin-right: -2.5em;
    }
    .site-info, .site-social {
        float: none;
        text-align: center;
    }
    .site-social {
        padding-top: 0.5em;
    }
    .hentry {
        margin: 0 0 1.5em;
    }
    .site-main .post-navigation, .page-header, .site-main .paging-navigation {
        margin: 0 -2.5em;
        padding: 1.5em 2.5em;
    }
    #comments ol article {
        margin: 0 0 1.5em;
    }
    .comments-area {
        margin: 1.5em 0;
    }
    .entry-header, .main-navigation {
        margin-top: 1.5em;
    }
    .comments-title {
        margin-bottom: 1.5em;
    }
}
@media all and (max-width: 479px) {
    .form-allowed-tags {display: none;}
    .showSide, .showSearch {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
    }
    .site-header, .site-content, .site-footer {
        padding: 1.5em 1.5em;
    }
    .site-header {
        padding: 1.5em 1.5em 0;
    }
    .site-content {
        padding: 0em 1.5em;
    }
    .entry-featuredImg {
        margin-left: -1.5em;
        margin-right: -1.5em;
    }
    .site-main .post-navigation, .page-header, .site-main .paging-navigation {
        margin: 0 -1.5em;
        padding: 1.5em 1.5em;
    }
    .menu-toggle, .main-navigation.toggled .nav-menu {
        padding: 1.5em 0.5em;
    }
    .post-navigation .nav-previous, .post-navigation .nav-next {
        width: 100%;
    }
    .post-navigation .nav-previous {
        padding-bottom: 0.5em;
    }
    .post-navigation .nav-next {
        border-top: 1px solid rgba(0,0,0,.08);
        padding-top: 0.5em;
    }
    #toTop:hover, .showSide:hover, .showSearch:hover {
        text-decoration: none;
        width: 3rem;
        padding-left: 0;
        color: #ffffff;
    }
    .entry-meta > span {
        display: block;
    }
}

/*--------------------------------------------------------------
 Print Style
 --------------------------------------------------------------*/
@media print {
    #toTop, .showSide, .showSearch {
        display: none;
    }
}